﻿@model Band

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Band</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BandId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br /><br />

<h1>Members</h1>

<p>
    <a asp-action="Create" asp-controller="Member" asp-route-subId="@Model.BandId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Gsm nr.
            </th>
            <th>
                Band
            </th>
            <th>
                Position
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gsm_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Band.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Member" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-action="Details" asp-controller="Member" asp-route-id="@item.MemberId">Details</a> |
                <a asp-action="Delete" asp-controller="Member" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>