﻿@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookings</h1>
    <p>All bookings of <a href="https://www.graspop.be" target="_blank">Graspop Metal Meeting</a>.</p>
</div>

<div asp-validation-summary="All" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>Band</th>
            <th>Stage</th>
            <th>Date</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var booking in Model)
            {
                <tr>

                    <td>@booking.Band.Name</td>
                    <td>@booking.Stage.Name</td>
                    <td>@booking.Date</td>
                </tr>
            }
        }
        else
        {
            <tr><td class="text-center">No Bookings</td></tr>
        }
    </tbody>
</table>