﻿@model Graspop.Models.Member

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gsm_nr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gsm_nr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Band.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Member" asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-controller="Band" asp-action="Details" asp-route-id="@Model.BandId">Back to Band</a>
</div>