﻿@model EditUserViewModel

<h2>Edit a user</h2>

<form asp-controller="Admin" asp-action="EditUser" method="post" class="form-horizontal" role="form"  autocomplete="off">
    <h4>Enter the user details below</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserId" class="form-control" readonly="readonly" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" readonly="readonly" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UserRoleName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="UserRoleName" asp-items="@(new SelectList(Model.Roles, "Name", "Name", Model.UserRoleName))">
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" value="" />
            <small>Leave empty if you don't want to change the password.</small>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-success">Edit user</button>
            <a asp-action="UserManagement" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>