﻿<h2>Bookings</h2>
<hr />
<div class="list-group">
    <div class="outer">
        <a class="list-group-item list-group-item-action" asp-controller="Booking" asp-action="Index">Bookings</a></div>
    </div>
<br /><br />
<h2>Manage</h2>
<hr />
<div class="list-group">
    <div class="outer"><a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="UserManagement">Users</a></div>
    <div class="outer"><a class="list-group-item list-group-item-action" asp-controller="Band" asp-action="Index">Bands</a></div>
    <div class="outer"><a class="list-group-item list-group-item-action" asp-controller="Tent" asp-action="Index">Tents</a></div>
    <div class="outer"><a class="list-group-item list-group-item-action" asp-controller="Position" asp-action="Index">Positions</a></div>
    <div class="outer"><a class="list-group-item list-group-item-action" asp-controller="Stage" asp-action="Index">Stages</a></div>
    <div class="outer"><a class="list-group-item list-group-item-action" asp-controller="DressingRoom" asp-action="Index">Dressing rooms</a></div>
</div>