﻿@model List<UserManagementViewModel>

<h2>User management</h2>

<div asp-validation-summary="All" class="text-danger"></div>
    <table class="table table-condensed table-bordered" header header-content="User Management">
        <tr>
            <th>User name</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        @if (Model.Any())
        {
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        @role
                    }
                </td>
                <td>
                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                        <button type="submit" onclick="return confirm('Do you really want to delete this user?');" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            }
        }
        else
        {
            <tr><td colspan="4" class="text-center">No User Accounts</td></tr>
        }

    </table>


<p>
    <a class="btn btn-primary" asp-action="AddUser">Add new user</a>
</p>