﻿@model Graspop.Models.Booking

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />

<form asp-controller="Booking" asp-action="Create"  method="post" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="BandId" class="control-label"></label>
        <select asp-for="BandId" class="form-control" asp-items="ViewBag.BandId"></select>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StageId" class="control-label"></label>
                <select asp-for="StageId" class="form-control" asp-items="ViewBag.StageId"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TentId" class="control-label"></label>
                <select asp-for="TentId" class="form-control" asp-items="ViewBag.TentId"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            </div>
        </div>
    <hr />
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Laundry" /> @Html.DisplayNameFor(model => model.Laundry)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="BusStock" class="control-label"></label>
            <input asp-for="BusStock" class="form-control" value="0" />
            <span asp-validation-for="BusStock" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BandCoolers" class="control-label"></label>
            <input asp-for="BandCoolers" class="form-control" value="0" />
            <span asp-validation-for="BandCoolers" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GMMCoolers" class="control-label"></label>
            <input asp-for="GMMCoolers" class="form-control" value="0" />
            <span asp-validation-for="GMMCoolers" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="AfterShow" /> @Html.DisplayNameFor(model => model.AfterShow)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Special" /> @Html.DisplayNameFor(model => model.Special)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="TakeAwayFood" /> @Html.DisplayNameFor(model => model.TakeAwayFood)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="TruckDrivers" class="control-label"></label>
            <input asp-for="TruckDrivers" class="form-control" value="0" />
            <span asp-validation-for="TruckDrivers" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="ExtensionCable" /> @Html.DisplayNameFor(model => model.ExtensionCable)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="Cable110V" class="control-label"></label>
            <input asp-for="Cable110V" class="form-control" value="0" />
            <span asp-validation-for="Cable110V" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HDWitGr" class="control-label"></label>
            <input asp-for="HDWitGr" class="form-control" value="0" />
            <span asp-validation-for="HDWitGr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HDZwartGr" class="control-label"></label>
            <input asp-for="HDZwartGr" class="form-control" value="0" />
            <span asp-validation-for="HDZwartGr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HDZwartKl" class="control-label"></label>
            <input asp-for="HDZwartKl" class="form-control" value="0" />
            <span asp-validation-for="HDZwartKl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Runner" class="control-label"></label>
            <input asp-for="Runner" class="form-control" value="0" />
            <span asp-validation-for="Runner" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HDWitKl" class="control-label"></label>
            <input asp-for="HDWitKl" class="form-control" value="0" />
            <span asp-validation-for="HDWitKl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Doctor" class="control-label"></label>
            <input asp-for="Doctor" class="form-control" value="" />
            <span asp-validation-for="Doctor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Oxygen" class="control-label"></label>
            <input asp-for="Oxygen" class="form-control" value="0" />
            <span asp-validation-for="Oxygen" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Kine" /> @Html.DisplayNameFor(model => model.Kine)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Transport" /> @Html.DisplayNameFor(model => model.Transport)
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
