﻿@model Graspop.Models.Booking

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Band.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tent.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Laundry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Laundry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BandCoolers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BandCoolers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GMMCoolers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GMMCoolers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterShow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Special)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Special)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeAwayFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeAwayFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckDrivers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckDrivers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtensionCable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtensionCable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cable110V)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cable110V)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HDWitGr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HDWitGr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HDZwartGr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HDZwartGr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HDZwartKl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HDZwartKl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Runner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Runner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HDWitKl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HDWitKl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oxygen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oxygen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
