﻿@model Graspop.Models.Booking

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="section-header">
        <h4 class="title">Booking</h4>
        <div class="actions">
            <a asp-action="Edit" asp-route-id="@Model.BookingId"><i class="fas fa-edit"></i></a>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Band.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Stage.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tent)
        </dt>
        <dd class="col-md-4">
            @if (Model.Tent == null)
            {
                <span>/</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Tent.Name)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</section>
<section>
    <div class="section-header">
        <h4 class="title">Services</h4>
        <div class="actions">
            <a asp-controller="Booking" asp-action="EditBookingService" asp-route-id="@Model.BookingId"><i class="fas fa-edit"></i></a>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusStock)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.BusStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandCoolers)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.BandCoolers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GMMCoolers)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.GMMCoolers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Laundry)
        </dt>
        <dd class="col-md-4">
            @if (Model.Laundry)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
    </dl>

    @if (Model.Comments.Where(c => c.Type == "SERVICE").Any())
    {
        <div class="comments">
            @foreach (var comment in Model.Comments.Where(c => c.Type == "SERVICE"))
            {
                <div class="comment">@comment.Content</div>
            }
        </div>
    }

</section>
<section>
    <div class="section-header">
        <h4 class="title">Catering</h4>
        <div class="actions">
            <a asp-controller="Booking" asp-action="EditBookingCatering" asp-route-id="@Model.BookingId"><i class="fas fa-edit"></i></a>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AfterShow)
        </dt>
        <dd class="col-md-4">
            @if (Model.AfterShow)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Special)
        </dt>
        <dd class="col-md-4">
            @if (Model.Special)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TakeAwayFood)
        </dt>
        <dd class="col-md-4">
            @if (Model.TakeAwayFood)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TruckDrivers)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.TruckDrivers)
        </dd>
    </dl>
    @if(Model.Comments.Where(c => c.Type == "CATERING").Any())
    {
        <div class="comments">
            @foreach (var comment in Model.Comments.Where(c => c.Type == "CATERING"))
            {
                <div class="comment">@comment.Content</div>
            }
        </div>
    }
</section>
<section>
    <div class="section-header">
        <h4 class="title">Furniture</h4>
        <div class="actions">
            <a href="#"><i class="fas fa-edit"></i></a>
        </div>
    </div>
    <span>???</span>
</section>
<section>
    <div class="section-header">
        <h4 class="title">Logistics</h4>
        <div class="actions">
            <a asp-controller="Booking" asp-action="EditBookingLogistics" asp-route-id="@Model.BookingId"><i class="fas fa-edit"></i></a>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtensionCable)
        </dt>
        <dd class="col-md-4">
            @if (Model.ExtensionCable)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cable110V)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Cable110V)
        </dd>
    </dl>
    @if (Model.Comments.Where(c => c.Type == "LOGISTICS").Any())
    {
        <div class="comments">
            @foreach (var comment in Model.Comments.Where(c => c.Type == "LOGISTICS"))
            {
                <div class="comment">@comment.Content</div>
            }
        </div>
    }
</section>
<section>
    <div class="section-header">
        <h4 class="title">Specials</h4>
        <div class="actions">
            <a asp-controller="Booking" asp-action="EditBookingSpecials" asp-route-id="@Model.BookingId"><i class="fas fa-edit"></i></a>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HDWitKl)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.HDWitKl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HDWitGr)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.HDWitGr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HDZwartKl)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.HDZwartKl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HDZwartGr)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.HDZwartGr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Runner)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Runner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oxygen)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Oxygen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kine)
        </dt>
        <dd class="col-md-4">
            @if (Model.Kine)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport)
        </dt>
        <dd class="col-md-4">
            @if (Model.Transport)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class="col-md-4">
            @if (Model.Doctor == null)
            {
                <span>/</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Doctor)
            }
        </dd>
    </dl>
    @if (Model.Comments.Where(c => c.Type == "SPECIALS").Any())
    {
        <div class="comments">
            @foreach (var comment in Model.Comments.Where(c => c.Type == "SPECIALS"))
            {
                <div class="comment">@comment.Content</div>
            }
        </div>
    }
</section>

