﻿@model Booking

@{
    ViewData["Title"] = "Edit";
}
<div>
    <a asp-controller="Booking" asp-action="Details" asp-route-id="@Model.BookingId">Back to List</a>
</div>
<section>
    <div class="section-header">
        <h4 class="title"><i class="fas fa-edit"></i> Booking Service</h4>
        <div class="actions">
            <button onclick="document.getElementById('EditBookingLogistics').submit();" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Booking" asp-action="EditBookingLogistics" method="post" id="EditBookingLogistics">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BookingId" />
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ExtensionCable" /> @Html.DisplayNameFor(model => model.ExtensionCable)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Cable110V" class="control-label"></label>
                    <input asp-for="Cable110V" class="form-control" />
                    <span asp-validation-for="Cable110V" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="section-header">
        <h4 class="title"><i class="far fa-comments"></i> Comments</h4>
    </div>
    <form asp-controller="Comment" asp-action="Create" method="post">
        <input type="hidden" asp-for="BookingId" />
        <input type="hidden" data-val="true" data-val-required="The Type field is required." id="Type" name="Type" value="LOGISTICS">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Comment.." name="Content">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Add</button>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Content
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Comments.Any())
            {
                @foreach (var comment in Model.Comments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => comment.Content)
                        </td>
                        <td>
                            <form asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.CommentId" method="post">
                                <input type="hidden" asp-for="BookingId" />
                                <button type="submit" onclick="return confirm('Do you really want to delete this comment?');" class="btn-link">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                    <tr>
                        <td colspan="2">
                            No comments.
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</section>