﻿@model IEnumerable<Graspop.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Band)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laundry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandCoolers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GMMCoolers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AfterShow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Special)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeAwayFood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckDrivers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtensionCable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cable110V)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HDWitGr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HDZwartGr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HDZwartKl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HDWitKl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oxygen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Band.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laundry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandCoolers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GMMCoolers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AfterShow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Special)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeAwayFood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckDrivers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtensionCable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cable110V)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HDWitGr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HDZwartGr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HDZwartKl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HDWitKl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oxygen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
