﻿html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../img/bg.jpg);
    background-size: auto;
    background-position: center bottom;
    background-repeat: repeat-y;
    color: #CCCCCC;
}
.btn-link,
a {
    color: #ff9309;
}
    .btn-link:hover,
    a:hover {
        cursor: pointer;
        color: #e68406;
    }
.btn-link {
    border-width: 0;
}
hr {
    border-top: 1px solid rgb(37, 37, 37);
}
.bg-dark {
    background-color: #02020275 !important;
    border-bottom: 1px solid #252525 !important;
}

.table {
    background-color: rgba(227, 0, 15, 0.26);
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #FFF;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .btn-primary:hover {
    color: #000;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus, .btn-success:focus, .btn-success.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: transparent;
    border-color: #28a745;
}


.btn-danger {
    color: #fff;
    background-color: transparent;
    border-color: #dc3545;
}

    

    .form-control {
        color: #cccccc;
        background-color: rgba(47, 46, 46, 0.41);
        border: 1px solid #252525;
    }
    .form-control:focus {
        color: #cccccc;
        background-color: rgba(47, 46, 46, 0.41);
        border-color: #252525;
        outline: 0;
        box-shadow: none;
    }
    .form-control option {
        color: #cccccc;
        background-color: #000;
    }
        .form-control:disabled:focus,
        .form-control:disabled, .form-control[readonly] {
            border: 1px solid #7b7b7b;
            background-color: rgba(227, 0, 15, 0.26);
            opacity: 1;
        }
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(132, 132, 132) inset;
    color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.border-top {
    border-top: 1px solid #252525 !important;
}

.table thead th {
    border-bottom: 2px solid #7b7b7b;
}
.table th, .table td {
    border-top: 1px solid #7b7b7b;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #7b7b7b;
}

.list-group {
    flex-flow: row wrap;
    justify-content: flex-start;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group .outer {
    flex-basis: calc(100% / 3);
    -ms-flex: auto;
    width: 259px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(227, 0, 15, 0.26);
    border: 1px solid #7b7b7b;

}

.list-group-item-action {
    color: #CCCCCC;
    text-align: center;
}
.list-group-item-action:hover, .list-group-item-action:focus {
    color: inherit;
    background-color: rgba(227, 0, 15, 0.32);
}

@media(max-width: 767px) {
    .list-group .outer {
        flex-basis: calc(100% / 2);
    }
}
@media(max-width: 575px) {
    .list-group .outer {
        flex-basis: 100%;
    }
}
section {
    margin-bottom: 25px;
}

.comments {
    background-color: rgba(227, 0, 15, 0.26);
    border: 1px solid #7b7b7b;
    padding: 0 10px;
}
    .comments .comment {
        position: relative;
        padding: 10px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #7b7b7b;
    }
    .comments .comment:last-child {
        border-bottom: none;
    }

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(37, 37, 37);
}